--editable .[dev]
--requirement requirements-test.txt
ipython
mypy
# The bump-version script requires at least version 3 of semver.
semver>=3
types-docopt
types-Pygments
types-pytz
types-requests
types-urllib3
